In [2]:
import pandas as pd
import numpy as np

In [3]:
#Read in data files and merge

file_school_data = "Resources/schools_complete.csv"
file_student_data = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(file_school_data)
student_data = pd.read_csv(file_student_data)

# Combine the data into a single dataset
combined_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [4]:
#Construct a dataframe for the district summary data

district_summary = pd.DataFrame({"Total Schools":[combined_df["School ID"].nunique()],
    "Total Students":combined_df["Student ID"].nunique(),
    "Total Budget":[school_data["budget"].sum()],
    "Average Math Score":[combined_df["math_score"].mean()],
    "Average Reading Score":[combined_df["reading_score"].mean()],
    "% Passing Math":[combined_df[combined_df["math_score"] > 70]["Student ID"].nunique()
                                       /combined_df["Student ID"].nunique()],
    "% Passing Reading":[combined_df[combined_df["reading_score"] > 70]["Student ID"].nunique()
                                          /combined_df["Student ID"].nunique()]
    })

#This needed to be done after the creation of the summary dataframe since the columns needed for the 
#computation didn't exist until after the datframe was created
district_summary["% Overall Passing Rate"] = (district_summary["% Passing Math"] + 
                                              district_summary["% Passing Reading"])/2

#Format the table
district_summary.style.format({
    "Total Students}": "{:,}".format,
    "Total Budget": "${:,.2f}".format,
    "Average Math Score": "{:.2f}".format,
    "Average Reading Score" : "{:.2f}".format,
    "% Passing Reading" : "{:.2%}".format,
    "% Passing Math" : "{:.2%}".format,
    "% Overall Passing Rate" : "{:.2%}".format
})

In [5]:
#Create a copy of the school data since columns will be dropped
school_summary = school_data.copy()

#Drop column not needed
school_summary.drop("School ID", axis = 1, inplace = True)

#Rename remaining columns to for output table format
school_summary = school_summary.rename(columns={"school_name": "School Name", 
                                         "type" : "School Type", 
                                         "size" : "Total Students", 
                                         "budget" : "Per Student Budget"})

#Calculate per student spending in place
school_summary["Per Student Budget"] = school_summary["Per Student Budget"]/school_summary["Total Students"]

#Create new dataframe with math and reading score averages
grade_stats = pd.DataFrame({"Average Math Score" : combined_df.groupby("school_name")["math_score"].mean(), 
                           "Average Reading Score" : combined_df.groupby("school_name")["reading_score"].mean()})

#select passing math and reading scores and add to school summary dataframe
grade_stats["% Passing Reading"] = combined_df[combined_df["reading_score"] > 70] \
                        [["school_name", "reading_score"]].groupby("school_name").count()
    
grade_stats["% Passing Math"] = combined_df[combined_df["math_score"] > 70] \
                        [["school_name","math_score"]].groupby("school_name").count()


#Add column with student numbers to use in calculating passing percentages
grade_stats = pd.merge(grade_stats, school_data[["school_name", "size"]],  on = "school_name")

#Calculate passing percentages in place
grade_stats["% Passing Math"] = grade_stats["% Passing Math"]/grade_stats["size"]
grade_stats["% Passing Reading"] = grade_stats["% Passing Reading"]/grade_stats["size"]
grade_stats["Overall Passing Rate"] = (grade_stats["% Passing Reading"] + 
                                        grade_stats["% Passing Reading"])/2

#Drop student number column since it's no longer needed
grade_stats.drop("size", axis = 1, inplace = True)

#Rename column to match school summary dataframe column that will be used for merging
grade_stats = grade_stats.rename(columns = {"school_name" : "School Name"})

#Put all the results together and format
school_summary = school_summary.merge(grade_stats, on = "School Name")

school_summary.style.format({
    "Total Students" : "{:,}".format,
    "Per Student Budget" : "${:.2f}".format,
    "Average Math Score" : "{:.2f}".format,
    "Average Reading Score" : "{:.2f}".format,
    "% Passing Reading" : "{:.2%}".format,
    "% Passing Math" : "{:.2%}".format,
    "Overall Passing Rate" : "{:.2%}".format
})

In [6]:
#Select top 5 schools by overall passing rate and format

top_5 = school_summary.sort_values("Overall Passing Rate", ascending=False).head(5)
    
top_5.style.format({
    "Total Students" : "{:,}".format,
    "Per Student Budget" : "${:,.2f}".format,
    "Average Math Score" : "{:.2f}".format,
    "Average Reading Score" : "{:.2f}".format,
    "% Passing Reading" : "{:.2%}".format,
    "% Passing Math" : "{:.2%}".format,
    "Overall Passing Rate" : "{:.2%}".format
})

In [7]:
#Select bottom 5 schools by overall passing rate and format

bottom_5 = school_summary.sort_values("Overall Passing Rate").head(5)

bottom_5.style.format({
    "Total Students" : "{:,}".format,
    "Per Student Budget" : "${:,.2f}".format,
    "Average Math Score" : "{:.2f}".format,
    "Average Reading Score" : "{:.2f}".format,
    "% Passing Reading" : "{:.2%}".format,
    "% Passing Math" : "{:.2%}".format,
    "Overall Passing Rate" : "{:.2%}".format
})

In [8]:
#Create a pivot table of math scores listed by schools across grades

math_scores = combined_df[["school_name", "grade", "math_score"]]
math_scores = pd.pivot_table(math_scores, index=["school_name", "grade"], aggfunc = "mean").unstack()

#Reorder columns in grade order
math_scores = math_scores.reindex(["9th", "10th", "11th", "12th"], axis = 1, level = 1)

math_scores = math_scores.rename(columns = {"math_score": "Math Scores"}, level = 0)


math_scores.style.format({
    ("math_score", "9th") : "{:.2f}".format,
    ("math_score", "10th") : "{:.2f}".format,
    ("math_score", "11th") : "{:.2f}".format,
    ("math_score", "12th") : "{:.2f}".format
})

In [9]:
#Create a pivot table of reading scores listed by schools across grades

reading_scores = combined_df[['school_name','grade','reading_score']]
reading_scores = pd.pivot_table(reading_scores, index=['school_name','grade'], aggfunc = 'mean').unstack()

#Reorder columns in grade order
reading_scores = reading_scores.reindex(['9th','10th','11th','12th'], axis = 1, level = 1)

reading_scores = reading_scores.rename(columns = {"reading_score": "Reading Scores"}, level = 0)

reading_scores.style.format({
    ("reading_score", "9th") : "{:.2f}".format,
    ("reading_score", "10th") : "{:.2f}".format,
    ("reading_score", "11th") : "{:.2f}".format,
    ("reading_score", "12th") : "{:.2f}".format
})

In [10]:
#Create a table of grade data broken down by levels of spending
scores_by_spending = school_summary.copy()

#Set up the grouping
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

#Bin
scores_by_spending["Per Student Budget"] = pd.cut(scores_by_spending["Per Student Budget"], 
                                            spending_bins, labels=group_names)

#Drop column not needed
scores_by_spending.drop("Total Students", axis = 1, inplace = True)

#Aggregate grade data by mean
scores_by_spending = scores_by_spending.groupby("Per Student Budget").mean()


scores_by_spending.style.format({
    "Average Math Score" : "{:.2f}".format,
    "Average Reading Score" : "{:.2f}".format,
    "% Passing Reading" : "{:.2%}".format,
    "% Passing Math" : "{:.2%}".format,
    "Overall Passing Rate" : "{:.2%}".format
})

In [11]:
#Create a table of grade data broken down by school size
scores_by_size = school_summary.copy()

#Set up the grouping
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

#Bin
scores_by_size["Total Students"] = pd.cut(scores_by_size["Total Students"], size_bins, labels = group_names)

#Drop column not needed
scores_by_size.drop("Per Student Budget", axis = 1, inplace = True)

#Aggregate grade data by mean
scores_by_size = scores_by_size.groupby("Total Students").mean()


scores_by_size.style.format({
    "Average Math Score" : "{:.2f}".format,
    "Average Reading Score" : "{:.2f}".format,
    "% Passing Reading" : "{:.2%}".format,
    "% Passing Math" : "{:.2%}".format,
    "Overall Passing Rate" : "{:.2%}".format
})

In [12]:
#Create a table of grade data broken down type of school

#Group by school type and aggregate by mean
scores_by_type = school_summary.groupby("School Type").mean()

#Drop columns not needed
scores_by_type.drop(["Total Students", "Per Student Budget"], axis = 1, inplace = True)


scores_by_type.style.format({
    "Average Math Score" : "{:.2f}".format,
    "Average Reading Score" : "{:.2f}".format,
    "% Passing Reading" : "{:.2%}".format,
    "% Passing Math" : "{:.2%}".format,
    "Overall Passing Rate" : "{:.2%}".format
})